//
   Created by 斌 on 2017/2/25.

extends layout

block content
   h1= title
   p the user id is #{id}

   h3 name
   p= user.name

   h3 age
   p= user.age

   h3 gender
   p= user.gender

   h3 birthday
   p= user.birthday