<div class="list-group col-md-2 left-nav">
    <a href="{{h1}}" class="list-group-item {{home}}">我的</a>
    <a href="{{h2}}" class="list-group-item {{order}}">我的订单</a>
    <a href="{{h3}}" class="list-group-item {{safe}}">账号安全</a>
</div>