<div class="container-fluid">
    {{>list-group}}
    <div class="row col-md-10">
        <table class="table table-hover table-striped" id="user-orders-table">
            <thead>
            <tr>
                <td>订单号</td>
                <td>日期</td>
                <td>项目</td>
                <td>人数</td>
                <td>金额</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody>
            {{#each orders}}
                <tr>
                    <td>{{orderNumber}}</td>
                    <td>{{date}}</td>
                    <td class="special">
                        <a href="/vacation/join?sku={{sku}}">
                            <img src="http://placehold.it/100x100" alt="" class="thumbnail" width="100" height="100">
                            <span class="label label-default">{{vacation.name}}</span>
                        </a>
                    </td>
                    <td>{{count}}</td>
                    <td>{{money}}</td>
                    <td>{{textStatus}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>